In [1]:
import pandas as pd

In [2]:
PATH_TO_DATA = "../../../Sistemas de Apoio a Decisão/dados_trabalho/raw/brasil_demografia_censo2010.json"

In [3]:
censo_df = pd.read_json(PATH_TO_DATA)

In [4]:
header = censo_df.loc[0]
censo_df.drop(index=0, inplace=True)
header

NC                            Nível Territorial (Código)
NN                                     Nível Territorial
D1C                  Brasil, Grande Região e UF (Código)
D1N                           Brasil, Grande Região e UF
D2C                                    Variável (Código)
D2N                                             Variável
D3C                                         Ano (Código)
D3N                                                  Ano
D4C                       Situação do domicílio (Código)
D4N                                Situação do domicílio
D5C                                        Sexo (Código)
D5N                                                 Sexo
D6C                                       Idade (Código)
D6N                                                Idade
D7C    Condição no domicílio e o compartilhamento da ...
D7N    Condição no domicílio e o compartilhamento da ...
MC                            Unidade de Medida (Código)
MN                                     Unidade de Medida
V                                                  Valor
Name: 0, dtype: object

In [5]:
censo_df["NN"].unique()

array(['Brasil', 'Grande Região', 'Unidade da Federação'], dtype=object)

# Regiões

In [6]:
regioes_df = pd.DataFrame(index=censo_df[censo_df["NN"] == "Grande Região"]["D1N"].unique(), columns=["rural", "urbana", "total"])

In [7]:
regioes_raw = censo_df[censo_df["NN"] == "Grande Região"]

In [8]:
regioes_df["total"] = regioes_raw[regioes_raw["D4N"] == "Total"]["V"].values
regioes_df["rural"] = regioes_raw[regioes_raw["D4N"] == "Rural"]["V"].values
regioes_df["urbana"] = regioes_raw[regioes_raw["D4N"] == "Urbana"]["V"].values

In [9]:
regioes_df

                 rural    urbana     total
Norte          4199945  11664509  15864454
Nordeste      14260692  38821258  53081950
Sudeste        5668232  74696178  80364410
Sul            4125995  23260896  27386891
Centro-Oeste   1575131  12482963  14058094

# Estados

In [10]:
estados_df = pd.DataFrame(index=censo_df[censo_df["NN"] == "Unidade da Federação"]["D1N"].unique(), columns=["rural", "urbana", "total"])

In [11]:
estados_raw = censo_df[censo_df["NN"] == "Unidade da Federação"]

In [12]:
estados_df["total"] = estados_raw[estados_raw["D4N"] == "Total"]["V"].values
estados_df["rural"] = estados_raw[estados_raw["D4N"] == "Rural"]["V"].values
estados_df["urbana"] = estados_raw[estados_raw["D4N"] == "Urbana"]["V"].values

In [13]:
estados_df

                       rural    urbana     total
Rondônia              413229   1149180   1562409
Acre                  201280    532279    733559
Amazonas              728495   2755490   3483985
Roraima               105620    344859    450479
Pará                 2389492   5191559   7581051
Amapá                  68490    601036    669526
Tocantins             293339   1090106   1383445
Maranhão             2427640   4147149   6574789
Piauí                1067401   2050959   3118360
Ceará                2105812   6346569   8452381
Rio Grande do Norte   703036   2464991   3168027
Paraíba               927850   2838678   3766528
Pernambuco           1744238   7052210   8796448
Alagoas               822634   2297860   3120494
Sergipe               547651   1520366   2068017
Bahia                3914430  10102476  14016906
Minas Gerais         2882114  16715216  19597330
Espírito Santo        583480   2931472   3514952
Rio de Janeiro        525690  15464239  15989929
São Paulo            1676948  39585251  41262199
Paraná               1531834   8912692  10444526
Santa Catarina       1000523   5247913   6248436
Rio Grande do Sul    1593638   9100291  10693929
Mato Grosso do Sul    351786   2097238   2449024
Mato Grosso           552321   2482801   3035122
Goiás                 583074   5420714   6003788
Distrito Federal       87950   2482210   2570160

# Salvando resultados

In [15]:
estados_df.to_excel("../../../Sistemas de Apoio a Decisão/dados_trabalho/processados/brasil_demografia_censo2010.xlsx")