In [1]:
import pandas as pd

# Análise de leitos no Brasil

In [2]:
PATH_TO_DATA1 = "../dados/brutos/total_leitos_por_uf.csv"
PATH_TO_DATA2 = "../dados/brutos/leitos_sus_por_uf.csv"

In [3]:
total_df = pd.read_csv(PATH_TO_DATA1, sep=";")
sus_df = pd.read_csv(PATH_TO_DATA2, sep=";")

In [4]:
sus_df.head()

  Região/Unidade da Federação  Quantidade_SUS
0                Região Norte           24255
1                    Rondônia            3360
2                        Acre            1350
3                    Amazonas            4899
4                     Roraima            1064

In [5]:
total_df.head()

  Região/Unidade da Federação  Quantidade_existente
0                Região Norte                 30375
1                    Rondônia                  4259
2                        Acre                  1484
3                    Amazonas                  5684
4                     Roraima                  1133

In [6]:
sus_df.set_index('Região/Unidade da Federação', inplace=True)
total_df.set_index('Região/Unidade da Federação', inplace=True)

In [7]:
leitos_df = sus_df.join(total_df)

In [8]:
leitos_df

                             Quantidade_SUS  Quantidade_existente
Região/Unidade da Federação
Região Norte                          24255                 30375
Rondônia                               3360                  4259
Acre                                   1350                  1484
Amazonas                               4899                  5684
Roraima                                1064                  1133
Pará                                  10347                 13670
Amapá                                   947                  1092
Tocantins                              2288                  3053
Região Nordeste                       91176                114102
Maranhão                              12201                 13768
Piauí                                  6470                  7463
Ceará                                 14352                 18503
Rio Grande do Norte                    5980                  7191
Paraíba                                6457                  8182
Pernambuco                            15699                 20917
Alagoas                                4740                  5881
Sergipe                                2380                  3236
Bahia                                 22897                 28961
Região Sudeste                       105706                171834
Minas Gerais                          26943                 40946
Espírito Santo                         5101                  7930
Rio de Janeiro                        21011                 32456
São Paulo                             52651                 90502
Região Sul                            49706                 72786
Paraná                                18482                 27397
Santa Catarina                        10920                 15296
Rio Grande do Sul                     20304                 30093
Região Centro-Oeste                   23437                 46161
Mato Grosso do Sul                     3681                  5611
Mato Grosso                            5125                  7181
Goiás                                 10584                 17502
Distrito Federal                       4047                 15867

In [9]:
# Separando região e UF
leitos_df["Unidade"] = "UF"
for index in leitos_df.index:
    if "Região" in index:
        leitos_df["Unidade"].loc[index] = "Região"

In [10]:
leitos_df

                             Quantidade_SUS  Quantidade_existente Unidade
Região/Unidade da Federação
Região Norte                          24255                 30375  Região
Rondônia                               3360                  4259      UF
Acre                                   1350                  1484      UF
Amazonas                               4899                  5684      UF
Roraima                                1064                  1133      UF
Pará                                  10347                 13670      UF
Amapá                                   947                  1092      UF
Tocantins                              2288                  3053      UF
Região Nordeste                       91176                114102  Região
Maranhão                              12201                 13768      UF
Piauí                                  6470                  7463      UF
Ceará                                 14352                 18503      UF
Rio Grande do Norte                    5980                  7191      UF
Paraíba                                6457                  8182      UF
Pernambuco                            15699                 20917      UF
Alagoas                                4740                  5881      UF
Sergipe                                2380                  3236      UF
Bahia                                 22897                 28961      UF
Região Sudeste                       105706                171834  Região
Minas Gerais                          26943                 40946      UF
Espírito Santo                         5101                  7930      UF
Rio de Janeiro                        21011                 32456      UF
São Paulo                             52651                 90502      UF
Região Sul                            49706                 72786  Região
Paraná                                18482                 27397      UF
Santa Catarina                        10920                 15296      UF
Rio Grande do Sul                     20304                 30093      UF
Região Centro-Oeste                   23437                 46161  Região
Mato Grosso do Sul                     3681                  5611      UF
Mato Grosso                            5125                  7181      UF
Goiás                                 10584                 17502      UF
Distrito Federal                       4047                 15867      UF

In [11]:
leitos_estado_df = leitos_df[leitos_df["Unidade"] == "UF"].drop(columns=["Unidade"])
leitos_regiao_df = leitos_df[leitos_df["Unidade"] == "Região"].drop(columns=["Unidade"])

In [12]:
leitos_estado_df

                             Quantidade_SUS  Quantidade_existente
Região/Unidade da Federação
Rondônia                               3360                  4259
Acre                                   1350                  1484
Amazonas                               4899                  5684
Roraima                                1064                  1133
Pará                                  10347                 13670
Amapá                                   947                  1092
Tocantins                              2288                  3053
Maranhão                              12201                 13768
Piauí                                  6470                  7463
Ceará                                 14352                 18503
Rio Grande do Norte                    5980                  7191
Paraíba                                6457                  8182
Pernambuco                            15699                 20917
Alagoas                                4740                  5881
Sergipe                                2380                  3236
Bahia                                 22897                 28961
Minas Gerais                          26943                 40946
Espírito Santo                         5101                  7930
Rio de Janeiro                        21011                 32456
São Paulo                             52651                 90502
Paraná                                18482                 27397
Santa Catarina                        10920                 15296
Rio Grande do Sul                     20304                 30093
Mato Grosso do Sul                     3681                  5611
Mato Grosso                            5125                  7181
Goiás                                 10584                 17502
Distrito Federal                       4047                 15867

In [13]:
leitos_regiao_df

                             Quantidade_SUS  Quantidade_existente
Região/Unidade da Federação
Região Norte                          24255                 30375
Região Nordeste                       91176                114102
Região Sudeste                       105706                171834
Região Sul                            49706                 72786
Região Centro-Oeste                   23437                 46161

In [14]:
# Salvando arquivos
leitos_estado_df.to_excel("../dados/processados/leitos_por_estado_jan20.xlsx")
leitos_regiao_df.to_excel("../dados/processados/leitos_por_regiao_jan20.xlsx")

# Análise de unidades básicas de saúde (UBS)

In [17]:
PATH_TO_DATA3  = "../dados/brutos/ubs_funcionamentonone.csv.csv"

In [18]:
ubs_df = pd.read_csv(PATH_TO_DATA3)

In [19]:
ubs_df.drop(columns=["gid", "co_cnes", "lat", "long", "no_fantasia", "nu_endereco", "no_bairro", "no_logradouro", "co_cep", "nu_telefone", "cidade"], inplace=True)

In [20]:
ubs_df

       uf  ano_ubs_det  mes_ubs_det
0      MG         2016            5
1      PR         2016            5
2      CE         2016            5
3      BA         2016            5
4      PB         2016            5
...    ..          ...          ...
40607  MG         2016            5
40608  SP         2016            5
40609  SP         2016            5
40610  MT         2016            5
40611  PI         2016            5

[40612 rows x 3 columns]

In [21]:
ubs_df.groupby("uf").count()

    ano_ubs_det  mes_ubs_det
uf
AC          245          245
AL          907          907
AM          622          622
AP          140          140
BA         3684         3684
CE         2126         2126
DF          149          149
ES          819          819
GO         1307         1307
MA         1948         1948
MG         5118         5118
MS          602          602
MT          814          814
PA         1779         1779
PB         1385         1385
PE         2400         2400
PI         1251         1251
PR         2310         2310
RJ         1880         1880
RN         1060         1060
RO          283          283
RR          137          137
RS         2297         2297
SC         1704         1704
SE          498          498
SP         4769         4769
TO          378          378