In [1]:
import pandas as pd

In [2]:
PATH_TO_DATA = "../dados/brutos/estados_atlas2013_dadosbrutos_pt.xlsx"

In [3]:
data_df = pd.read_excel(PATH_TO_DATA)

In [4]:
data_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [5]:
data_df.columns.to_list()

['UFN',
 'ESPVIDA',
 'FECTOT',
 'MORT1',
 'MORT5',
 'RAZDEP',
 'SOBRE40',
 'SOBRE60',
 'T_ENV',
 'E_ANOSESTUDO',
 'T_ANALF11A14',
 'T_ANALF15A17',
 'T_ANALF15M',
 'T_ANALF18A24',
 'T_ANALF18M',
 'T_ANALF25A29',
 'T_ANALF25M',
 'T_ATRASO_0_BASICO',
 'T_ATRASO_0_FUND',
 'T_ATRASO_0_MED',
 'T_ATRASO_1_BASICO',
 'T_ATRASO_1_FUND',
 'T_ATRASO_1_MED',
 'T_ATRASO_2_BASICO',
 'T_ATRASO_2_FUND',
 'T_ATRASO_2_MED',
 'T_FBBAS',
 'T_FBFUND',
 'T_FBMED',
 'T_FBPRE',
 'T_FBSUPER',
 'T_FLBAS',
 'T_FLFUND',
 'T_FLMED',
 'T_FLPRE',
 'T_FLSUPER',
 'T_FREQ0A3',
 'T_FREQ11A14',
 'T_FREQ15A17',
 'T_FREQ18A24',
 'T_FREQ25A29',
 'T_FREQ4A5',
 'T_FREQ4A6',
 'T_FREQ5A6',
 'T_FREQ6',
 'T_FREQ6A14',
 'T_FREQ6A17',
 'T_FREQFUND1517',
 'T_FREQFUND1824',
 'T_FREQFUND45',
 'T_FREQMED1824',
 'T_FREQMED614',
 'T_FREQSUPER1517',
 'T_FUND11A13',
 'T_FUND12A14',
 'T_FUND15A17',
 'T_FUND16A18',
 'T_FUND18A24',
 'T_FUND18M',
 'T_FUND25M',
 'T_MED18A20',
 'T_MED18A24',
 'T_MED18M',
 'T_MED19A21',
 'T_MED25M',
 'T_SUPER25M',
 'CORTE1',
 'CORTE2',
 'CORTE3',
 'CORTE4',
 'CORTE9',
 'GINI',
 'PIND',
 'PINDCRI',
 'PMPOB',
 'PMPOBCRI',
 'PPOB',
 'PPOBCRI',
 'PREN10RICOS',
 'PREN20',
 'PREN20RICOS',
 'PREN40',
 'PREN60',
 'PREN80',
 'PRENTRAB',
 'R1040',
 'R2040',
 'RDPC',
 'RDPC1',
 'RDPC10',
 'RDPC2',
 'RDPC3',
 'RDPC4',
 'RDPC5',
 'RDPCT',
 'RIND',
 'RMPOB',
 'RPOB',
 'THEIL',
 'CPR',
 'EMP',
 'P_AGRO',
 'P_COM',
 'P_CONSTR',
 'P_EXTR',
 'P_FORMAL',
 'P_FUND',
 'P_MED',
 'P_SERV',
 'P_SIUP',
 'P_SUPER',
 'P_TRANSF',
 'REN0',
 'REN1',
 'REN2',
 'REN3',
 'REN5',
 'RENOCUP',
 'T_ATIV',
 'T_ATIV1014',
 'T_ATIV1517',
 'T_ATIV1824',
 'T_ATIV18M',
 'T_ATIV2529',
 'T_DES',
 'T_DES1014',
 'T_DES1517',
 'T_DES1824',
 'T_DES18M',
 'T_DES2529',
 'THEILtrab',
 'TRABCC',
 'TRABPUB',
 'TRABSC',
 'T_AGUA',
 'T_BANAGUA',
 'T_DENS',
 'T_LIXO',
 'T_LUZ',
 'AGUA_ESGOTO',
 'PAREDE',
 'T_CRIFUNDIN_TODOS',
 'T_FORA4A5',
 'T_FORA6A14',
 'T_FUNDIN_TODOS',
 'T_FUNDIN_TODOS_MMEIO',
 'T_FUNDIN18MINF',
 'T_M10A14CF',
 'T_M15A17CF',
 'T_MULCHEFEFIF014',
 'T_NESTUDA_NTRAB_MMEIO',
 'T_OCUPDESLOC_1',
 'T_RMAXIDOSO',
 'T_SLUZ',
 'HOMEM0A4',
 'HOMEM10A14',
 'HOMEM15A19',
 'HOMEM20A24',
 'HOMEM25A29',
 'HOMEM30A34',
 'HOMEM35A39',
 'HOMEM40A44',
 'HOMEM45A49',
 'HOMEM50A54',
 'HOMEM55A59',
 'HOMEM5A9',
 'HOMEM60A64',
 'HOMEM65A69',
 'HOMEM70A74',
 'HOMEM75A79',
 'HOMEMTOT',
 'HOMENS80',
 'MULH0A4',
 'MULH10A14',
 'MULH15A19',
 'MULH20A24',
 'MULH25A29',
 'MULH30A34',
 'MULH35A39',
 'MULH40A44',
 'MULH45A49',
 'MULH50A54',
 'MULH55A59',
 'MULH5A9',
 'MULH60A64',
 'MULH65A69',
 'MULH70A74',
 'MULH75A79',
 'MULHER80',
 'MULHERTOT',
 'PEA',
 'PEA1014',
 'PEA1517',
 'PEA18M',
 'peso1',
 'PESO1114',
 'PESO1113',
 'PESO1214',
 'peso13',
 'PESO15',
 'peso1517',
 'PESO1524',
 'PESO1618',
 'PESO18',
 'Peso1820',
 'PESO1824',
 'Peso1921',
 'PESO25',
 'peso4',
 'peso5',
 'peso6',
 'PESO610',
 'Peso617',
 'PESO65',
 'PESOM1014',
 'PESOM1517',
 'PESOM15M',
 'PESOM25M',
 'pesoRUR',
 'pesotot',
 'pesourb',
 'PIA',
 'PIA1014',
 'PIA1517',
 'PIA18M',
 'POP',
 'POPT',
 'I_ESCOLARIDADE',
 'I_FREQ_PROP',
 'IDHM',
 'IDHM_E',
 'IDHM_L',
 'IDHM_R']

# Estados

In [6]:
data_df

,UFN,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,SOBRE40,SOBRE60,T_ENV,E_ANOSESTUDO,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
0,Rondônia,72.97,2.16,18.02,19.34,46.74,95.80,86.77,4.69,9.20,...,95920,1042760,1547341,1515025,0.480,0.633,0.690,0.577,0.800,0.712
1,Acre,71.63,2.95,23.01,24.93,61.34,94.62,84.53,4.32,8.69,...,48412,437790,728620,690774,0.488,0.599,0.663,0.559,0.777,0.671
2,Amazonas,73.30,2.59,17.01,18.22,59.33,96.03,87.24,4.03,8.54,...,227553,2100087,3460784,3301221,0.549,0.567,0.674,0.561,0.805,0.677
3,Roraima,73.51,2.41,16.11,17.23,57.50,96.24,87.67,3.45,8.69,...,29123,272223,445981,421159,0.587,0.650,0.707,0.628,0.809,0.695
4,Pará,72.36,2.50,20.29,21.87,55.83,95.26,85.74,4.75,8.49,...,486649,4739298,7524487,7247979,0.474,0.557,0.646,0.528,0.789,0.646
5,Amapá,73.80,2.48,15.14,16.16,57.67,96.47,88.14,3.44,9.44,...,45288,402583,664167,652768,0.618,0.634,0.708,0.629,0.813,0.694
6,Tocantins,72.56,2.41,19.56,21.05,52.90,95.43,86.08,5.82,9.80,...,85736,899735,1373823,1349770,0.526,0.680,0.699,0.624,0.793,0.690
7,Maranhão,70.40,2.56,28.03,30.61,58.65,93.45,82.45,6.02,9.26,...,414954,4124450,6547083,6317987,0.444,0.632,0.639,0.562,0.757,0.612
8,Piauí,71.62,1.99,23.05,24.98,51.70,94.61,84.51,7.44,9.23,...,184255,2104268,3102747,3050838,0.418,0.625,0.646,0.547,0.777,0.635
9,Ceará,72.60,1.99,19.29,20.76,50.32,95.50,86.20,7.54,9.82,...,524991,5738848,8403301,8317604,0.488,0.691,0.682,0.615,0.793,0.651
10,Rio Grande do Norte,72.52,1.98,19.70,21.21,48.03,95.40,86.02,7.54,9.54,...,184517,2198161,3151549,3127820,0.486,0.661,0.684,0.597,0.792,0.678
11,Paraíba,72.00,1.95,21.67,23.42,51.14,94.94,85.12,8.53,9.24,...,215244,2597404,3744722,3706991,0.426,0.634,0.658,0.555,0.783,0.656
12,Pernambuco,72.32,1.92,20.43,22.03,49.34,95.23,85.68,7.37,9.13,...,494130,6044442,8744596,8646409,0.470,0.635,0.673,0.574,0.789,0.673
13,Alagoas,70.32,2.22,28.40,31.03,54.30,93.36,82.31,6.01,9.07,...,194319,2015524,3092407,3045851,0.406,0.589,0.631,0.520,0.755,0.641
14,Sergipe,71.84,1.95,22.22,24.04,49.34,94.81,84.88,6.14,9.01,...,125881,1385926,2054725,2038459,0.469,0.612,0.665,0.560,0.781,0.672
15,Bahia,71.97,2.05,21.73,23.49,48.92,94.92,85.09,7.23,8.63,...,818228,9606320,13933018,13755200,0.461,0.609,0.660,0.555,0.783,0.663
16,Minas Gerais,75.30,1.79,15.08,17.30,44.01,93.77,82.95,8.12,9.38,...,1043929,14159445,19471105,19383604,0.514,0.710,0.731,0.638,0.838,0.730
17,Espírito Santo,75.10,1.80,14.15,16.33,43.26,92.57,82.28,7.08,9.36,...,181921,2521554,3492253,3477472,0.552,0.711,0.740,0.653,0.835,0.743
18,Rio de Janeiro,75.10,1.68,14.15,16.33,43.07,92.57,82.28,8.91,9.17,...,771099,11831965,15895915,15871448,0.647,0.689,0.761,0.675,0.835,0.782
19,São Paulo,75.69,1.66,13.86,15.85,41.53,94.80,84.30,7.82,10.33,...,1989525,30408172,40944103,40915382,0.629,0.768,0.783,0.719,0.845,0.789
20,Paraná,74.80,1.86,13.08,15.07,43.78,93.64,83.48,7.53,10.43,...,566147,7487040,10379795,10348243,0.555,0.733,0.749,0.668,0.830,0.757
21,Santa Catarina,76.61,1.71,11.54,13.38,40.34,94.98,85.72,6.89,10.24,...,326770,4558556,6211299,6199948,0.589,0.759,0.774,0.697,0.860,0.773
22,Rio Grande do Sul,75.38,1.76,12.38,14.29,43.18,94.43,84.16,9.26,10.00,...,531136,7934902,10618321,10593366,0.563,0.686,0.746,0.642,0.840,0.769
23,Mato Grosso do Sul,74.96,2.04,18.14,21.47,46.22,93.21,83.02,6.62,10.08,...,139678,1697957,2420666,2404628,0.536,0.682,0.729,0.629,0.833,0.740
24,Mato Grosso,74.25,2.08,16.80,20.28,44.56,92.82,82.21,5.12,9.29,...,173724,2082429,3008271,2961977,0.532,0.693,0.725,0.635,0.821,0.732
25,Goiás,74.60,1.87,13.96,16.28,43.41,93.33,82.69,6.25,9.72,...,323865,4237518,5962442,5934767,0.550,0.700,0.735,0.646,0.827,0.742
26,Distrito Federal,77.35,1.75,14.01,15.85,40.14,94.57,86.19,4.97,9.87,...,130872,1830940,2543802,2541714,0.723,0.751,0.824,0.742,0.873,0.863

# Regiões

In [7]:
regioes = {
  "Norte": ["Amazonas", "Roraima", "Amapá", "Pará", "Tocantins", "Rondônia", "Acre"],
  "Nordeste": ["Maranhão", "Piauí", "Ceará", "Rio Grande do Norte", "Pernambuco", "Paraíba", "Sergipe", "Alagoas", "Bahia"], 
  "Centro-Oeste": ["Mato Grosso", "Mato Grosso do Sul", "Goiás"],
  "Sudeste": ["São Paulo", "Rio de Janeiro", "Espírito Santo", "Minas Gerais"],
  "Sul": ["Paraná", "Rio Grande do Sul", "Santa Catarina"],
  "DF": ["Distrito Federal"]
}

In [8]:
regioes_df = pd.DataFrame(index=list(regioes.keys()), columns=data_df.columns)
regioes_df.drop("UFN", axis=1, inplace=True)

In [9]:
regioes_df

,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,SOBRE40,SOBRE60,T_ENV,E_ANOSESTUDO,T_ANALF11A14,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nordeste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Centro-Oeste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sudeste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Adicionando informação de região

In [10]:
data_df["REGIAO"] = [""] * len(data_df)
for i in range(len(data_df)):
    estado = data_df["UFN"].iloc[i]
    for regiao in regioes.keys():
        if estado in regioes[regiao]: 
            data_df["REGIAO"].iloc[i] = regiao
            break

- Agrupando por região

In [11]:
regioes_df = data_df.groupby("REGIAO").sum()

In [12]:
regioes_df

,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,SOBRE40,SOBRE60,T_ENV,E_ANOSESTUDO,T_ANALF11A14,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
REGIAO,,,,,,,,,,,,,,,,,,,,,
Centro-Oeste,223.81,5.99,48.90,58.03,134.19,279.36,247.92,17.99,29.09,5.12,...,637267,8017904,11391379,11301372,1.618,2.075,2.189,1.910,2.481,2.214
DF,77.35,1.75,14.01,15.85,40.14,94.57,86.19,4.97,9.87,1.10,...,130872,1830940,2543802,2541714,0.723,0.751,0.824,0.742,0.873,0.863
Nordeste,645.59,18.61,204.52,221.57,461.74,852.22,762.26,63.82,82.93,55.91,...,3156519,35815343,52774148,52007159,4.068,5.688,5.938,5.085,7.010,5.881
Norte,510.13,17.50,129.14,138.80,391.31,669.85,606.17,30.50,62.85,32.93,...,1018681,9894476,15745203,15178696,3.722,4.320,4.787,4.106,5.586,4.785
Sudeste,301.19,6.93,57.24,65.81,171.87,373.71,331.81,31.93,38.24,6.53,...,3986474,58921136,79803376,79647906,2.342,2.878,3.015,2.685,3.353,3.044
Sul,226.79,5.33,37.00,42.74,127.30,283.05,253.36,23.68,30.67,3.48,...,1424053,19980498,27209415,27141557,1.707,2.178,2.269,2.007,2.530,2.299

- Normalizando regiões (média)

In [13]:
estados_por_regiao = [1/len(regioes[regiao]) for regiao in regioes_df.index]

In [14]:
estados_por_regiao

[0.3333333333333333,
 1.0,
 0.1111111111111111,
 0.14285714285714285,
 0.25,
 0.3333333333333333]

In [15]:
regioes_df = regioes_df.multiply(estados_por_regiao, axis="index")

In [16]:
regioes_df

,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,SOBRE40,SOBRE60,T_ENV,E_ANOSESTUDO,T_ANALF11A14,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
REGIAO,,,,,,,,,,,,,,,,,,,,,
Centro-Oeste,74.603333,1.996667,16.300000,19.343333,44.730000,93.120000,82.640000,5.996667,9.696667,1.706667,...,212422.333333,2.672635e+06,3.797126e+06,3.767124e+06,0.539333,0.691667,0.729667,0.636667,0.827000,0.738000
DF,77.350000,1.750000,14.010000,15.850000,40.140000,94.570000,86.190000,4.970000,9.870000,1.100000,...,130872.000000,1.830940e+06,2.543802e+06,2.541714e+06,0.723000,0.751000,0.824000,0.742000,0.873000,0.863000
Nordeste,71.732222,2.067778,22.724444,24.618889,51.304444,94.691111,84.695556,7.091111,9.214444,6.212222,...,350724.333333,3.979483e+06,5.863794e+06,5.778573e+06,0.452000,0.632000,0.659778,0.565000,0.778889,0.653444
Norte,72.875714,2.500000,18.448571,19.828571,55.901429,95.692857,86.595714,4.357143,8.978571,4.704286,...,145525.857143,1.413497e+06,2.249315e+06,2.168385e+06,0.531714,0.617143,0.683857,0.586571,0.798000,0.683571
Sudeste,75.297500,1.732500,14.310000,16.452500,42.967500,93.427500,82.952500,7.982500,9.560000,1.632500,...,996618.500000,1.473028e+07,1.995084e+07,1.991198e+07,0.585500,0.719500,0.753750,0.671250,0.838250,0.761000
Sul,75.596667,1.776667,12.333333,14.246667,42.433333,94.350000,84.453333,7.893333,10.223333,1.160000,...,474684.333333,6.660166e+06,9.069805e+06,9.047186e+06,0.569000,0.726000,0.756333,0.669000,0.843333,0.766333

# Salvando resultados

In [17]:
regioes_df.to_excel("../dados/processados/regioes_atlas2013_pt.xlsx")
data_df.to_excel("../dados/processados/estados_atlas2013_pt.xlsx")

# Extraindo informações sobre a idade da população

In [18]:
espec_vida_df = data_df[["UFN", "PESO15", "PESO18", "PESO25", "PESO65"]]
espec_vida_df.set_index("UFN", inplace=True)
# Renomeado colunas
espec_vida_df.columns = ["A15", "A18", "A25", "A65"]

In [19]:
espec_vida_df.head()

              A15      A18      A25     A65
UFN
Rondônia  1135560  1039911   828938   73326
Acre       486011   438101   338795   31684
Amazonas  2322154  2095089  1619462  140414
Roraima    300411   271416   210189   15551
Pará      5220214  4735782  3685997  360432

In [20]:
espec_vida_df.to_excel("../dados/processados/espectativa_de_vida_atlas2013.xlsx")

# Extraindo informações sobre a economia dos estados

In [21]:
economia_df = data_df[["UFN", "PMPOB", "PPOB", "RDPC", "PEA", "PREN10RICOS"]]
economia_df.set_index("UFN", inplace=True)
# Renomeado colunas
economia_df.columns = ["pctPobreza", "vulnProbreza", "rendaPerCapta", "PEA", "concRiqueza"]

In [22]:
economia_df.head()

          pctPobreza  vulnProbreza  rendaPerCapta      PEA  concRiqueza
UFN
Rondônia       14.80         33.33         670.82   777441        44.72
Acre           29.46         50.97         522.15   304651        50.56
Amazonas       30.78         51.78         539.80  1473043        53.64
Roraima        26.65         45.72         605.59   197525        49.85
Pará           32.33         55.99         446.76  3206614        50.17

In [23]:
espec_vida_df.to_excel("../dados/processados/economia_atlas2013.xlsx")